<navbar-cdmx></navbar-cdmx>

<header class="business-header">
    <div class="container">
        <div class="row">
          <div class="col-md-1 padding-col">
            <div class="img-datosa-biertos"></div>
          </div>
            <div class="col-md-10">
                <span class="header-text-1">Datos Abiertos | <strong>Ciudad de México</strong></span>
                <br>
                <span class="header-text-2">Iniciativa de Datos Abiertos de la CDMX</span>
            </div>
        </div>
    </div>
</header>
<br>
<div class="container">
    <section>
      <p><strong>Sobre el indicador:</strong> Este tablero muestra datos agregados sobre la Iniciativa de Datos Abiertos de la CDMX en relación al ecosistema de datos abiertos de la ciudad, que abarca tanto la oferta como la demanda de datos abiertos. Con base en los datos del portal gobiernoabierto.cdmx.gob.mx de la CDMX, los gráficos muestran aquellas entidades que publican más datos abiertos y aquellas que reciben más descargas de conjuntos datos, la evolución de esta oferta y demanda a lo largo del tiempo, y el número de visitas y usuarios del portal de Gobierno Abierto de la ciudad. Adicionalmente, se incluye una comparativa con la oferta de datos abiertos de otras iniciativas del país y la región.
      </p>
    </section>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-8">
      <div class="panel panel-default panel-size-2">
         <div class="panel-heading">Comparativas con iniciativas de datos abiertos<!--<i ng-click="open(myModalContent.indicator1)" class="mdi mdi-information icon-right icon-information"></i> --></div>
        <div class="panel-body">
          <span ng-repeat="city in indicator1">
            <strong ng-show="city.city == 'CDMX'">{{city.city}} {{city.value}}</strong>
            <span ng-show="city.city != 'CDMX'" class="panel-body-past">{{city.city}} {{city.value}}</span>
          </span>
          <!-- <strong>CDMX 283</strong> <span class="panel-body-past">Jalisco 200</span>  <span class="panel-body-past">Nuevo Leon 1000</span>  <span class="panel-body-past">Buenos Aires 160</span>  <span class="panel-body-past">Bogota 35</span>  <span class="panel-body-past">NYC 1500</span> -->
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-sm-2">
      <div class="panel panel-default panel-size-2">
        <div class="panel-body">
          <div class="img-view"></div>
          <div class="percentage-center">
            <p class="size-percentage-2 light-label-open-data">{{indicator2.visits}} <span class="percentage-text">(mil)</span></p>
            <p class="size-percentage-3">Visitas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-sm-2">
      <div class="panel panel-default panel-size-2">
        <div class="panel-body">
          <div class="img-user"></div>
            <div class="percentage-center">
              <p class="size-percentage-2 light-label-open-data">{{indicator2.users}} <span class="percentage-text">(mil)</span></p>
              <span class="size-percentage-3">Usuarios</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <div class="panel panel-default panel-size">
        <div class="panel-heading">Evolución <span class="offer">oferta</span> y demanda de datos abiertos<i ng-click="open(myModalContent.indicator2)" class="mdi mdi-information icon-information"></i></div>
        <div class="panel-body offer-demand-opendata">
          <!--<svg></svg>-->
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="panel panel-default panel-size">
        <div class="panel-heading">Oferta de Datos Abieros<i ng-click="open(myModalContent.indicator3)" class="mdi mdi-information icon-information"></i></div>
        <div class="panel-body">
          <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th>Ranking</th>
                <th>Dependencia</th>
                <th>Datasets</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="rank in indicator5.offer">
                <td><span class="label label-background">{{$index + 1}}</span></td>
                <td>{{rank.dependency}}</td>
                <td>{{rank.datasets}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="panel panel-default panel-size">
        <div class="panel-heading">Demanda de Datos Abiertos<i ng-click="open(myModalContent.indicator4)" class="mdi mdi-information icon-information "></i></div>
        <div class="panel-body">
          <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th>Ranking</th>
                <th>Dependencia</th>
                <th>Datasets</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="rank in indicator5.demand">
                <td><span class="label label-background">{{$index + 1}}</span></td>
                <td>{{rank.dependency}}</td>
                <td>{{rank.datasets}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
<footer-cdmx></footer-cdmx>
<!-- Information modal -->
<script type="text/ng-template" id="information-modal.html">
    <div class="modal-header">
        <span class="modal-title modal-text">{{indicatorContent.title}}</span>
    </div>
    <div class="modal-body">
        <p>{{indicatorContent.description}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-modal" type="button" ng-click="ok()">OK</button>
    </div>
</script>
<!-- Information modal end -->
<!-- Modal Login-->
  <script type="text/ng-template" id="login_modal.html">
    <div class="modal-login">
      <!--<div class="modal-header"><button type="button" class="close" ng-click="cancel()">×</button></div>-->
      <div class="modal-body text-center">
        <form name="form" ng-submit="login(form)" novalidate>
          <!--div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="user.email">
          </div-->
          <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && (form.password.$pristine || form.password.$dirty) && formSubmitted}">
            <input ng-required="true"
                   name="password"
                   type="password"
                   class="form-control"
                   placeholder="Please Enter Your Password"
                   ng-model="user.password">
            <p ng-show="form.password.$invalid &&
              (form.password.$pristine || form.password.$dirty) &&
              formSubmitted" class="help-block">Access Denied - Password Incorrect, Please Try Again.
            </p>
          </div>
          <button type="submit" class="btn btn-primary">Log in</button>
        </form>
      </div>
    </div>
  </script>
<!-- End login-->
