<!-- Navigation -->
<navbar-cdmx></navbar-cdmx>
<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
          <div class="col-md-1 padding-col">
            <div class="img-finanzas"></div>
          </div>
            <div class="col-md-8">
                <span class="header-text-1">Finanzas | <strong>Ciudad de México</strong></span>
                <br>
                <span class="header-text-2">Tablero de monitoreo y gestión de prioridades</span>
            </div>
        </div>
    </div>
</header>

<br>
<div class="container">
    <section>
      <p><strong>Sobre el indicador:</strong> Este tablero presenta agregados presupuestarios para el Gobierno de la Ciudad de México con el objeto de hacerle seguimiento a la ejecución presupuestaria. Los indicadores que se incluyen en este tablero presentan una visión global del gasto público y su descomposición por tipo de gasto, unidad responsable, actividad institucional y función.
      </p>
    </section>
</div>
<br>
<!-- Page Content -->
<div class="container">
    <div class="row">

          <div class="col-lg-4 col-sm-4">
            <div class="panel panel-default fixed-panel">
              <div class="panel-heading">Gasto de Capital<i ng-click="open(myModalContent.indicator1)" class="mdi mdi-information icon-right icon-information"></i></div>
              <div class="panel-body single-bar-ctn text-center">
                <p class="size-percentage">{{ui.executedCapitalTotalSpentPercentage}}%</p>
                <p class="size-percentage-1">Ejecutado</p>
                <div class="first-indicator-graph">
                  <label>Presupuesto Original</label>
                  <div class="original-bar-graph"></div>
                  <label>Presupuesto Modificado</label>
                  <div class="modified-bar-graph"></div>
                  <label>Presupuesto Ejercido</label>
                  <div class="executed-bar-graph"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="panel panel-default fixed-panel">
              <div class="panel-heading">Gasto Corriente<i ng-click="open(myModalContent.indicator2)" class="mdi mdi-information icon-right icon-information"></i></div>
                <div class="panel-body single-bar-ctn text-center">
                  <p class="size-percentage">{{ui.executedNormalTotalSpentPercentage}}%</p>
                  <p class="size-percentage-1">Ejecutado</p>
                  <div class="second-indicator-graph">
                    <label>Presupuesto Original</label>
                    <div class="original-bar-graph"></div>
                    <label>Presupuesto Modificado</label>
                    <div class="modified-bar-graph"></div>
                    <label>Presupuesto Ejercido</label>
                    <div class="executed-bar-graph"></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="panel panel-default fixed-panel">
              <div class="panel-heading">Tres primeros en Ejecución de Gasto de Capital<i ng-click="open(myModalContent.indicator3)" class="mdi mdi-information icon-right icon-information"></i></div>
              <div class="panel-body">
                <div class="btn-group buttom-position">
                  <label ng-class="{active: ui.top3CapitalSpentModel == 'Dependency'}" class="btn btn-color btn-sm" ng-model="ui.top3CapitalSpentModel" ng-click="getTop3CapitalSpentsByDependency()" uib-btn-radio="'Dependency'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dependencia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                  <label ng-class="{active: ui.top3CapitalSpentModel == 'institutionalActivity'}" class="btn btn-color btn-sm" ng-model="ui.top3CapitalSpentModel" ng-click="getTop3CapitalSpentsByInstAct()" uib-btn-radio="'institutionalActivity'">Actividad Institucional</label>
                </div>
                <br>
                <div class="panel-width">
                  <p><span class="label label-background">1</span> <div class="text-box">{{ui.firstCapitalSpent}}</div></p>
                  <p><span class="label label-background">2</span> <div class="text-box">{{ui.secondCapitalSpent}}</div></p>
                  <p><span class="label label-background">3</span> <div class="text-box">{{ui.thirdCapitalSpent}}</div></p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Ejecución del Gasto por Dependencia<i ng-click="open(myModalContent.indicator4)" class="mdi mdi-information icon-right icon-information"></i></div>
        <div class="panel-body executed-spent-dependency-graph">
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              Filtro: <br />
              <label class="btn btn-sm btn-color" ng-model="indicator4dependency" ng-click="updateIndicator4()" uib-btn-radio="'preferred'" ng-class="{active: indicator4dependency == 'preferred'}">Preferida</label>
              <label class="btn btn-sm btn-color" ng-model="indicator4dependency" ng-click="updateIndicator4()" uib-btn-radio="'dependencies'" ng-class="{active: indicator4dependency == 'dependencies'}">Dependencias</label>
              <label class="btn btn-sm btn-color" ng-model="indicator4dependency" ng-click="updateIndicator4()" uib-btn-radio="'delegacies'" ng-class="{active: indicator4dependency == 'delegacies'}">Delegaciones</label>
              <!--<label class="btn btn-default btn-sm finance-button btn-size-color" ng-model="indicator4favorite" ng-click="updateIndicator4()" uib-btn-checkbox ng-class="indicator4favorite ? 'finance-selected' : 'finance-unselected'">Preferida</label>-->
              <!--<div class="btn-group btn-size-color" uib-dropdown>-->
                <!--<a href="#" class="btn btn-default finance-button" data-toggle="dropdown" uib-dropdown-toggle ng-class="'finance-unselected'">{{indicator4dependency == 1 ? 'Dependencias': 'Delegaciones'}}<span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu">-->
                  <!--<li class="li-margin"><input type="radio" ng-model="indicator4dependency" ng-value="1" id="indicator4dependency1" ng-change="updateIndicator4()" /><label for="indicator4dependency1">Dependencias</label></li>-->
                  <!--&lt;!&ndash; <li class="divider"></li> &ndash;&gt;-->
                  <!--<li class="li-margin"><input type="radio" ng-model="indicator4dependency" ng-value="0" id="indicator4dependency0" ng-change="updateIndicator4()" /><label for="indicator4dependency0">Delegaciones</label></li>-->
                <!--</ul>-->
              <!--</div>-->
            </div>
            <div class="col-lg-4 col-sm-4">
              Ranking por: <br />
              <div class="btn-group">
                <label class="btn btn-sm btn-color" ng-model="indicator4sort" ng-click="updateIndicator4()" uib-btn-radio="'current'" ng-class="{active: indicator4sort == 'current'}">Corriente</label>
                <label class="btn btn-sm btn-color" ng-model="indicator4sort" ng-click="updateIndicator4()" uib-btn-radio="'capital'" ng-class="{active: indicator4sort == 'capital'}">Capital</label>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12">
              <br />
            </div>
            <div class="col-lg-12 col-sm-12">
              <div id="indicator4div"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Ejecución del Gasto por Función<i ng-click="open(myModalContent.indicator5)" class="mdi mdi-information icon-right icon-information"></i>
        </div>
        <div class="panel-body">
          <div class="btn-group">
            <label class="btn btn-color btn-sm" ng-model="indicator5sort" ng-click="updateIndicator5()" uib-btn-radio="'name'" ng-class="{active: indicator5sort == 'name'}">Ranking por Nombre</label>
            <label class="btn btn-color btn-sm" ng-model="indicator5sort" ng-click="updateIndicator5()" uib-btn-radio="'executed'" ng-class="{active: indicator5sort == 'executed'}">Ranking por Ejercido</label>
          </div>
        </div>
        <div class="panel-body executed-spent-function-graph">
          <div id="indicator5div"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<footer-cdmx></footer-cdmx>
<!-- Information modal -->
<script type="text/ng-template" id="information-modal.html">
    <div class="modal-header">
        <span class="modal-title modal-text">{{indicatorContent.title}}</span>
    </div>
    <div class="modal-body">
        <p>{{indicatorContent.description}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-modal" type="button" ng-click="ok()">OK</button>
    </div>
</script>
<!-- Information modal end -->
