<loader ng-show="loading"></loader>
<navbar-cdmx></navbar-cdmx>

<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
          <div class="col-md-1 padding-col">
            <img src="../app/images/icon-genero.png" width="100"/>
          </div>
            <div class="col-md-10">
                <span class="header-text-1">Género | <strong>Ciudad de México</strong></span>
                <br>
                <span class="header-text-2">Equidad de género dentro del gobierno</span>
            </div>
        </div>
    </div>
</header>

<br>
<div class="container">
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </section>
</div>
<br>
<!-- Page Content -->
<div class="container">
    <div class="row">

          <div class="col-lg-6 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">Proporción de mujeres por clasificación del puesto<i ng-click="open(myModalContent.indicator1)" class="mdi mdi-information icon-right icon-information"></i></div>
                <div class="panel-body women-quantity-percentage">
                  <svg></svg>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">Brecha salarial entre hombres y mujeres<i ng-click="open(myModalContent.indicator2)" class="mdi mdi-information icon-right icon-information"></i></div>
                <div class="panel-body women-salaryGap-percentage">
                  <svg></svg>
                </div>
            </div>
          </div>
    </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Porcentaje de mujeres contratadas por clasificación del puesto<i ng-click="open(myModalContent.indicator3)" class="mdi mdi-information icon-right icon-information"></i></div>
        <div class="panel-body women-recruitment-percentage">
          <svg> </svg>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Porcentaje de mujeres promovidas por clasificación del puesto<i ng-click="open(myModalContent.indicator4)" class="mdi mdi-information icon-right icon-information"></i></div>
        <div class="panel-body women-promoted-percentage">
          <svg></svg>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Proporcion de mujeres por clasificacion del puesto<i ng-click="open(myModalContent.indicator5)" class="mdi mdi-information icon-right icon-information"></i></div>
        <div class="panel-body women-proportion">
          <svg id="piesvg1"></svg>
          <svg id="piesvg2"></svg>
          <svg id="piesvg3"></svg>
          <svg id="piesvg4"></svg>
          <svg id="piesvg5"></svg>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Consulta interactiva de las dependencias y delegaciones<i ng-click="open(myModalContent.indicator5)" class="mdi mdi-information icon-right icon-information"></i>
        </div>
        <div class="panel-body">
          <div class="btn-group">
            <label class="btn btn-default btn-sm" ng-model="ui.top3CapitalSpentModel" ng-click="getTop3CapitalSpentsByDependency()" uib-btn-radio="'Dependency'">Delegaciones</label>
            <label class="btn btn-default btn-sm" ng-model="ui.top3CapitalSpentModel" ng-click="getTop3CapitalSpentsByInstAct()" uib-btn-radio="'institutionalActivity'">Dependencias</label>
          </div>
          <br>
          <div class="dropdowns-align">
             Filtre el gráfico por sector o clasificación de puesto:
                <div class="btn-group">
                  <a href="#" class="btn btn-default">Sector</a>
                  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Delegaciones</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Dependencias</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">Clasificación</a>
                  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Estabilidad Laboral</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Haberes</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Mando Medio</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Mando Superior</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Técnico Operativo de Base</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Técnico Operativo de Confianza</a></li>
                  </ul>
                </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Information modal -->
<footer-cdmx></footer-cdmx>

<script type="text/ng-template" id="information-modal.html">
    <div class="modal-header">
        <span class="modal-title modal-text">{{indicatorContent.title}}</span>
    </div>
    <div class="modal-body">
        <p>{{indicatorContent.description}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-modal" type="button" ng-click="ok()">OK</button>
    </div>
</script>
<!-- Information modal end -->
