<navbar-cdmx></navbar-cdmx>

<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
          <div class="col-md-1 padding-col">
            <div class="img-genero"></div>
          </div>
            <div class="col-md-10">
                <span class="header-text-1">Género | <strong>Ciudad de México</strong></span>
                <br>
                <span class="header-text-2">Equidad de género dentro del gobierno</span>
            </div>
        </div>
    </div>
</header>

<br>
<div class="container">
    <section>
      <p><strong>Sobre el indicador:</strong>&nbsp;&nbsp;El tema de Igualdad de Género es un tema importante para el Gobierno de la CDMX,
        y se consiste en un enfoque transversal significativo en el Programa General de Desarrollo del Distrito Federal 2013-2018.
        En este tablero se muestra un panorama de los avances y limitantes de la igualdad de género dentro del mismo gobierno de la CDMX.
        Los indicadores reflejan la participación de mujeres en distintos niveles y funciones de puesto, acceso de mujeres a oportunidades
        de contratación y promoción, y remuneración de mujeres en distintos cargos. El objetivo de este tablero no sólo se consiste en
        presentación de la información misma, sino también en elevar la importancia del tema dentro de todos los entes públicos,
        así como la sociedad civil de la CDMX. Los datos cubren todos los entes públicos de la CDMX, incluyendo las dependencias,
        delegaciones y órganos desconcentrados.
      </p>
    </section>
</div>
<br>
<!-- Page Content -->
<div id="pie-tooltip">
  <div id="pie-title"></div>
  <div class="pie-tooltip-body">
    <span id="pie-slice-label"></span>:&nbsp;<strong><span id="pie-slice-value"></span>%</strong>
  </div>
</div>
<div class="container">
    <div class="row">

          <div class="col-lg-6 col-sm-6">
            <div class="panel panel-default panel-size-1">
              <div class="panel-heading">Composición y movimientos por género en distintas categorías de puestos<i ng-click="open(myModalContent.indicator1)" class="mdi mdi-information icon-information"></i></div>
                <div class="panel-body">
                   <div class="panel-body-center">
                      <button ng-class="{active: ui.jobClassification.superiorCommand}" ng-click="getGenreJobClassificationGraph(classifications[3])" class="btn btn-color" type="button">Mando Superior</button>
                      <button ng-class="{active: ui.jobClassification.mediumCommand}" ng-click="getGenreJobClassificationGraph(classifications[2])" class="btn btn-color" type="button">Mando Medio</button>
                      <button ng-class="{active: ui.jobClassification.jobStability}" ng-click="getGenreJobClassificationGraph(classifications[0])" class="btn btn-color" type="button">Estabilidad Laboral</button>
                      <button ng-class="{active: ui.jobClassification.duty}" ng-click="getGenreJobClassificationGraph(classifications[1])" class="btn btn-color" type="button">Haberes</button>
                      <div class="genre-job-classification-ctn">
                        <div class="row genre-bar-ctn">
                          <div class="col-md-1">
                            <div class="img-genre-quantity"></div>
                          </div>
                          <div class="col-md-11 genre-job-classification">
                            <div class="men-quantity-bar-graph"></div>
                            <div class="women-quantity-bar-graph"></div>
                            <div class="genre-bar-label">Conjunto hombres y mujeres - julio 2016</div>
                          </div>
                        </div>
                        <div class="row genre-bar-ctn">
                          <div class="col-md-1">
                            <div class="img-genre-recruitment"></div>
                          </div>
                          <div class="col-md-11 genre-job-classification">
                            <div class="men-recruitment-bar-graph"></div>
                            <div class="women-recruitment-bar-graph"></div>
                            <div class="genre-bar-label">Contrataciones hombres y mujeres - julio 2016</div>
                          </div>
                        </div>
                        <div class="row genre-bar-ctn">
                          <div class="col-md-1">
                            <div class="img-genre-promotion"></div>
                          </div>
                          <div class="col-md-11 genre-job-classification">
                            <div class="men-promotion-bar-graph"></div>
                            <div class="women-promotion-bar-graph"></div>
                            <div class="genre-bar-label">Promociones hombres y mujeres - julio 2016</div>
                          </div>
                        </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="panel panel-default panel-size-1">
              <div class="panel-heading">Composición por género de personal técnico-operativo<i ng-click="open(myModalContent.indicator2)" class="mdi mdi-information icon-information"></i>
                <br>por quintil de remuneración
              </div>
              <div class="panel-body women-proportion panel-center-graph">
                <br>
                <svg id="piesvg1"></svg>
                <svg id="piesvg2"></svg>
                <svg id="piesvg3"></svg>
                <svg id="piesvg4"></svg>
                <svg id="piesvg5"></svg>
                <div class="women-color-graph">
                    <label class="background-color-graph"></label> <span class="text-label"> Mujer</span>
                    <label class="background-color-graph-1"></label> <span class="text-label"> Hombre</span>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

<br>
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Porcentaje de mujeres contratadas por clasificación del puesto<i ng-click="open(myModalContent.indicator3)" class="mdi mdi-information icon-right icon-information"></i></div>
        <div class="panel-body women-recruitment-percentage">
          <svg> </svg>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Porcentaje de mujeres promovidas por clasificación del puesto<i ng-click="open(myModalContent.indicator4)" class="mdi mdi-information icon-right icon-information"></i></div>
        <div class="panel-body women-promoted-percentage">
          <svg></svg>
        </div>
      </div>
    </div>
  </div>
</div>
<br>-->



<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-3"></div>
    <div class="col-lg-6 col-sm-6">
      <div class="panel panel-default panel-size-3">
        <div class="panel-heading">Brecha salarial entre hombres y mujeres<i ng-click="open(myModalContent.indicator3)" class="mdi mdi-information icon-information"></i></div>
          <div class="panel-body women-salaryGap-percentage">
              <svg></svg>
          </div>
          <div class="women-color-graph-1 women-color-graph-2">
              <label class="background-color-graph-2"></label> <span class="text-label-1"> Brecha en remuneración bruta</span>
              <label class="background-color-graph-3"></label> <span class="text-label-1"> Brecha en salario base</span>
          </div>
          <div class="women-color-graph-1">
              <label class="background-color-graph-4"></label> <span class="text-label-1"> Brecha en tiempo extraordinario</span>
              <label class="background-color-graph-5"></label> <span class="text-label-1"> Brecha en otras prestaciones</span>
          </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Consulta interactiva de las dependencias y delegaciones<i ng-click="open(myModalContent.indicator5)" class="mdi mdi-information icon-information"></i>
        </div>
        <div class="panel-body pane-body-size">
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <span>Grafico:&nbsp;</span>
              <div class="btn-group">
                <label ng-class="{active: indicator5 == 'demographic'}" class="btn btn-color btn-sm" ng-model="indicator5" ng-click="updateIndicator5()" uib-btn-radio="'demographic'">Interactivo Demografico</label>
                <label ng-class="{active: indicator5 == 'remuneration'}" class="btn btn-color btn-sm" ng-model="indicator5" ng-click="updateIndicator5()" uib-btn-radio="'remuneration'" >Interactivo Remuneracion</label>
              </div>
            </div>
            <div class="col-md-6">
              <span class="">Filtro:&nbsp;</span>
              <div class="btn-group">
                <div class="btn-group" uib-dropdown>
                  <a href="#" class="btn btn-color" data-toggle="dropdown" uib-dropdown-toggle>Sector <span class="caret"></span></a>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li class="li-margin"><input type="radio" ng-model="dependency" ng-value="0" id="dependencies0" ng-change="updateIndicator5()" /><label for="dependencies0">Delegaciones</label></li>
                    <!-- <li class="divider"></li> -->
                    <li class="li-margin"><input type="radio" ng-model="dependency" ng-value="1" id="dependencies1" ng-change="updateIndicator5()" /><label for="dependencies0">Dependencias</label></li>
                  </ul>
                </div>
                <div class="btn-group" uib-dropdown>
                  <a href="#" class="btn btn-color" data-toggle="dropdown" uib-dropdown-toggle>Clasificación <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-size" uib-dropdown-menu role="menu">
                    <li class="li-margin"><input type="radio" ng-model="classification" ng-value="0" id="classifications0" ng-change="updateIndicator5()" /><label for="classifications0">Estabilidad Laboral</label></li>
                    <!-- <li class="divider"></li> -->
                    <li class="li-margin"><input type="radio" ng-model="classification" ng-value="1" id="classifications1" ng-change="updateIndicator5()" /><label for="classifications1">Haberes</label></li>
                    <!-- <li class="divider"></li> -->
                    <li class="li-margin"><input type="radio" ng-model="classification" ng-value="2" id="classifications2" ng-change="updateIndicator5()" /><label for="classifications2">Mando Medio</label></li>
                    <!-- <li class="divider"></li> -->
                    <li class="li-margin"><input type="radio" ng-model="classification" ng-value="3" id="classifications3" ng-change="updateIndicator5()" /><label for="classifications3">Mando Superior</label></li>
                    <!-- <li ceass="divider"></li> -->
                    <li class="li-margin"><input type="radio" ng-model="classification" ng-value="4" id="classifications4" ng-change="updateIndicator5()" /><label for="classifications4">Técnico Operativo de Base</label></li>
                    <!-- <li class="divider"></li> -->
                    <li class="li-margin"><input type="radio" ng-model="classification" ng-value="5" id="classifications5" ng-change="updateIndicator5()" /><label for="classifications5">Técnico Operativo de Confianza</label></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row separate-graph-filter">
            <div class="col-md-12 women-demographic-classification">
              <label class="fifthIndicator-graph-title">{{ui.fifthIndicatorGraphTitle}}</label>
              <br>
              <br>
              <div id="women-demographic-classification-div"></div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


<!-- Information modal -->
<footer-cdmx></footer-cdmx>

<script type="text/ng-template" id="information-modal.html">
    <div class="modal-header">
        <span class="modal-title modal-text">{{indicatorContent.title}}</span>
    </div>
    <div class="modal-body">
        <p>{{indicatorContent.description}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-modal" type="button" ng-click="ok()">OK</button>
    </div>
</script>
<!-- Information modal end -->
<!-- Modal Login-->
  <script type="text/ng-template" id="login_modal.html">
    <div class="modal-login">
      <!--<div class="modal-header"><button type="button" class="close" ng-click="cancel()">×</button></div>-->
      <div class="modal-body text-center">
        <form name="form" ng-submit="login(form)" novalidate>
          <!--div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="user.email">
          </div-->
          <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && (form.password.$pristine || form.password.$dirty) && formSubmitted}">
            <input ng-required="true"
                   name="password"
                   type="password"
                   class="form-control"
                   placeholder="Por favor, ingrese su contraseña"
                   ng-model="user.password">
            <p ng-show="form.password.$invalid &&
              (form.password.$pristine || form.password.$dirty) &&
              formSubmitted" class="help-block">Acceso Denegado - Contraseña Incorrecta, Por favor, intente de nuevo.
            </p>
          </div>
          <button type="submit" class="btn btn-login">Entrar</button>
        </form>
      </div>
    </div>
  </script>
<!-- End login-->
