<footer class="footer-background">
  <div class="footer-text-1">
     ® 2015 Gobierno del Distrito Federal
  </div>
  <div class="footer-text-2">
    Plaza de la construcción S/N Primer Piso, Centro, Cuauhtémoc, C.P. 06010
     <!-- <div class="buttom-footer">
        <a href="#" id="oz-scroll"><button class="boom boom-size"><i class="mdi mdi-arrow-up-drop-circle-outline"></i></button></a>
      </div> -->
      		<a id="scrollTop-button" class="scrollTop-button" href="#"></a>
  </div>
</footer>
